.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-link {
  color: rgb(112, 76, 182);
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(100px, 200px, 25%);
  background-color: lightblue;
  font-size: calc(10px + 2vmin);
  margin-bottom: 2rem;
}

main{
  margin: 0 auto;
  width: clamp(200px, 60%, 1000px);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 900px) {
  main{
    width: 85%;
  }
}
