#cityInput{
    outline: 1px solid #b7b7b7;
    border-radius: 4px;
    padding: .5rem 1rem;
    border: none;
    font-size: 1.5rem;
    width: 100%;
}
#cityInput:focus{
    outline: 2px solid gray;
}
button{
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: bold;
}
button:hover{
    background-color: whitesmoke;
}
